<!DOCTYPE html>
<html>
<head>
    <title>Airport Arrivals</title>
</head>
<body>  
  
  <h1>  Arrivals </h1>
  <table id="airportArrivals" class="tablecolor" style="width:100%" border="2px">
    <tr class="header">
      <th class="title"><h3>Time</h3></th>
      <th class="title"><h3>Flight Number</h3></th> 
      <th class="title"><h3>Arriving from</h3></th>
      <th></th>
    </tr>
    
    <% let data =  arrivaldetails;  %>
    <% for (var i in data) { %>
      <tr>
        <td id="date">   <%= data[i].date.substr(0,10);  %></td>
        <td id="flightInfo">   <%= data[i].carrierCode %> <%= data[i].flightNumber %></td>
        <td id="airportArrivalCode">   <%= data[i].departureAirportCode %></td>
        <td id="flightDetails">   <a name="airportCode" class="airportCode" href="#" data-id=<%= data[i].flightId %>>  Flight details </a> </td><!---->
      </tr>
    <% } %>        
    </table>
  </body>
</html>