<!DOCTYPE html>
<html>
<head>
    <title>Airport Arrivals</title>
</head>
<body>  
   <h1>Flight Details</h1>
  <table  class="tablecolor"  id"flightDetails" style="width:100%" border="2px">
    <tr class="header">
      
      <th><img src="img/information.png">  </th>
      <th><img src="img/departures.png"> </th>
      <th><img src="img/arrivals.png"></th> 
      <th><img src="img/timedate.png"></th>
   </tr>
      <% let flightairline =  flightdetails.appendix;  %>
      <% let flightdetailsdata =  flightdetails.flightStatus;  %>
      <tr>
        <!-- flight airline / flight No  /  FlightID /carrierFsCode -->
        <td>  <p> FlightID: <%= flightdetailsdata.flightId %></p>     
              <p> CarrierCode: <%= flightdetailsdata.carrierFsCode %></p>
              <p> Airline: <%= flightairline.airlines[0].name %></p> 
              <p> Flight No. : <%= flightdetailsdata.flightNumber %></p></td>
       
        <!--  DeaprtAirport DepartAirportiatacode-->
        <td> <p><%= flightairline.airports[0].name %> (<%= flightdetailsdata.departureAirportFsCode%>)</p>  
              <p> Terminal:  <%= flightdetailsdata.airportResources.departureTerminal %> </p></td>   


        <!--  ArrivalAirport ArrivalAirportiatacode-->
        <td>   <p> <%= flightairline.airports[1].name %> (<%= flightdetailsdata.arrivalAirportFsCode %>) </p> 
               <p> Terminal:  <%= flightdetailsdata.airportResources.arrivalTerminal %> </p> </td>


       <!-- Arrival Date & time    -->
        <td>  <p> Date: <%= flightdetailsdata.arrivalDate.dateLocal.substr(0,10); %> </p> 
              <p> Time: <%= flightdetailsdata.arrivalDate.dateLocal.substr(11,19); %> </p> </td>
      </tr>     
    </table>
  </body>
</html>